.navbar {
    background-image: linear-gradient(to bottom, #f76242, #f45655, #ed4d66, #e34876, #d44784);
}

a {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,0));
    text-decoration: underline;
}

body .titulo {
    text-align: center;
}

h1 {
    display: inline-block;
    position: relative;
    color: rgb(128, 115, 115);
    font-family: 'MiFuente3', sans-serif;
    font-size: 25px;
}

h1::after, h1::before {
    content: '';
    position: absolute;
    width: 550px;
    height: 1.4px;
    background-color: currentColor;
    top: 0.9rem;
}

h1::before {
    left: -560px;
}
h1::after {
    right: -560px;
}

@font-face {
    font-family: 'MiFuente';
    src: url('../assets/Laisha.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiFuente2';
    src: url('../assets/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiFuente3';
    src: url('../assets/Hiters.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    justify-content: space-between;
    padding: 0px 0 40px 0;
}

.pie-pagina {
    background-image: linear-gradient(to top, #f76242, #f45655, #ed4d66, #e34876, #d44784);
    color: whitesmoke;
    width: 100%;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px, 0px;
}

.pie-pagina .grupo-1 .box-1 figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box-1 figure img{
    width: 100px;
}

.pie-pagina .grupo-1 .box-2 h2 {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    margin-bottom: 25px;
    font-size: 30px;
    font-family: 'MiFuente3', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pie-pagina .grupo-1 .box-3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .contactos img {
    align-items: center;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 45px;
    margin-right: 10px;
    text-align: center;
    transition: all .2s ease;
}

.pie-pagina .grupo-1 .contactos img:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.pie-pagina .grupo-2 {
    padding: 10px 10px;
    text-align: center;
}

@media screen and (max-width:800px) {
    * {
        width: 100%;        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
        padding: 35px, 0px;
    }
}

.btn {
    cursor: pointer;
}

.cart-container-produ {
    position: relative;
    z-index: 1; 
}

.icon-cart {
    width: 35px;
    height: 35px;
    color: whitesmoke;
    background: transparent;
}

.cant-productos {
    position: absolute;
    top: 55%;
    right: 0;
    color: rgb(247, 98, 66);
    background:  whitesmoke;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;
}

.icon-user {
    width: 35px;
    height: 35px;
    color: whitesmoke;
    background: transparent;
}

.cart-container-user {    
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.info-usuario {
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 5px 5px 5px 5px;
    background-color: whitesmoke;
    width: 400px;
}

.hidden-cart {
    display: none;
}

.card-user {
    display: flex;    
    padding: 20px;
    justify-content: space-between;
    background: #DFE0DF;
    font-family: 'MiFuente2', sans-serif;
    border-radius: 5px 5px 5px 5px;    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-info-user {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card-info-user img {
    border-radius: 5px 5px 5px 5px;
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.card-body-user {    
    margin-left: 10px;
}

.card-title-user {
    font-size: 20px;
    font-weight: 700;
    color: rgb(90, 83, 83);
}

.card-text-user {
    font-size: 15px;
    font-weight: 500;
    color: rgb(90, 83, 83);
    margin-bottom: 5px;
}

.btn-primary {
    background: rgb(90, 83, 83);
    border: none;
    padding: 5px;
}

.card {
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.card figure {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: all .5s;
}

.card:hover img {
    transform: scale(1.1);
}

.card-title {
    padding: 15px 5px;
    font-size: 30px;
    font-family: 'MiFuente', sans-serif;
}

.card-body {
    padding: 15px 30px;
    line-height: 2;
    flex-direction: column;
    gap: 10px;
}

.card-price {
    padding: 5px 15px;
    margin: 10px 0px 0px 0px;    
    font-size: 18px;
    font-weight: 900;
}

.form-control {
    padding: 10px 15px;
    margin: 6px 0px 0px -15px;
}

.container {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.root {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sidebar {
    width: 40%;
    border-radius: 5px;
    background-color: #DFE0DF;
    margin-left: 20px;
    margin-bottom: auto;
    padding: 15px;
    text-align: center;
}

.head {
    background-image: linear-gradient(to bottom, #f76242, #f45655, #ed4d66, #e34876, #d44784);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.head p {
    margin-top: 15px;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: whitesmoke;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 0px;
}

.cart-item input {
    border: none;
    background-color: transparent;
    width: 30px;
}

.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #f76242;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-img img {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-solid {
    color: black;
}

.fa-trash:hover {
    cursor: pointer;
    color: red;
}